langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
fitz
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
langchain_chroma
faiss-cpu
sentence_transformers
langchain_huggingface
# pip install -r requirements.txt
#  & "C:\Users\DELL\anaconda3\shell\condabin\conda-hook.ps1"
# conda activate .\venv